
#cat-item {
    margin-left: 8px;
    margin-right: -31px;
    margin-bottom: 0;
}

#cat-item-block {
    margin-left: 32px;
}

#cat-item-2 {
    margin-right: 8px;
    margin-left: -30px;
    margin-bottom: 0;
}
