
#item-pic {
    height:400px;
}

.price {
    background-color: whitesmoke;
    padding-bottom: 20px;
    border-radius: 6px;"
}

.price-name {
    text-align:center;
}

.price-price {
    text-align:right;
}

.price-items {
    text-align:right;
}

.price-count {
    text-align:right;
    
}

.price-count-input {
    width: 23px;
    height: 20px;
}

.price-cart-button {
    width: 100%;
    margin-top: 10px;
}
