<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Подключение объектов сущностей -->
        <mapping package="ru.dz.labs.api.domain"/>
        <mapping class="ru.dz.labs.api.domain.Addres"/>
        <mapping class="ru.dz.labs.api.domain.Cart"/>
        <mapping class="ru.dz.labs.api.domain.Category"/>
        <mapping class="ru.dz.labs.api.domain.Goods"/>
        <mapping class="ru.dz.labs.api.domain.Order_Goods"/>
        <mapping class="ru.dz.labs.api.domain.Orderr"/>
        <mapping class="ru.dz.labs.api.domain.Users"/>
    </session-factory>
</hibernate-configuration>