<!DOCTYPE html>
<html>
    <head>
        <title>Order</title>
        <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/main_style.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/cart_style.css"  media="screen,projection"/>
    </head>
    <style>
    @font-face {
    font-family: Pompadur; /* Имя шрифта */
    src: url(fonts/96089.ttf); /* Путь к файлу со шрифтом */
}
h2 {
    font-family: Pompadur;
}
    </style>
    <body>
    
    
<!--    NAVBAR    NAVBAR    NAVBAR    NAVBAR    NAVBAR    NAVBAR    NAVBAR    NAVBAR    NAVBAR    NAVBAR    NAVBAR    NAVBAR-->
    <nav class="navbar navbar-inverse">
  <div class="container"> 
   
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="main.html" style="padding:3px;width:150px">
      <span id="logo-name">MatrёшkaStore</span>
      <img id="log-pic" src="pics/logo.png">
      </a>
    </div>
 
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="main.html" data-toggle="modal" data-target="#myModal">Back to Store</a>
        </li>
      </ul>
    </div>
    
  </div>
</nav> 
<!--      NAVBAR    NAVBAR    NAVBAR    NAVBAR    NAVBAR    NAVBAR    NAVBAR    NAVBAR    NAVBAR    NAVBAR    NAVBAR    NAVBAR-->
   
<div class="container">
   <div>
      <br>
      <br>
      <div class="row">
          <div class="col-xs-4">img</div>
          <div class="col-xs-4">Some lorem ipsum dolor sit amet</div>
          <div class="col-xs-2">-Count+</div>
          <div class="col-xs-2">Price</div>
      </div>
       <hr>
       <div class="row">
          <div class="col-xs-4">img</div>
          <div class="col-xs-4">Some lorem ipsum dolor sit amet</div>
          <div class="col-xs-2">-Count+</div>
          <div class="col-xs-2">Price</div>
      </div>
       <hr>
       <div class="row">
          <div class="col-xs-4">img</div>
          <div class="col-xs-4">Some lorem ipsum dolor sit amet</div>
          <div class="col-xs-2">-Count+</div>
          <div class="col-xs-2">Price</div>
      </div>
       <hr>
       <div class="row">
          <div class="col-xs-4">img</div>
          <div class="col-xs-4">Some lorem ipsum dolor sit amet</div>
          <div class="col-xs-2">-Count+</div>
          <div class="col-xs-2">Price</div>
      </div>
       <hr>
   </div>
    <div>
    
        <h4>Выберите удобный вам вариант доставки</h4>
        <ul>
            <li>Почта России(Стоимость доставки)(сроки доставки)</li>
            <li>DHL(Стоимость доставки)(сроки доставки)</li>
            <li>EMS Post(Стоимость доставки)(сроки доставки)</li>
        </ul>
        <h4>Желаете ли вы отправить покупки на адрес 420141 г.Казань ул.Фучика 72 кв.4 ?</h4>
        <button type="button" class="btn btn-default">No</button><button type="button" class="btn btn-default">Yes</button>
        
<!--        <div>no choise!!!!!!!!! with ajax</div>-->
   <h4>Оплата и платежная информация</h4>
   <button type="button" class="btn btn-default">Купить</button>
    </div>
</div>
 
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
   <script type="text/javascript">
        
   </script>
    

    </body>
</html>